# pre-commit
.pre-commit-config.yaml

/target
/.helix
/result
/.direnv
**/rustc-ice-*.txt

**/dist/**

# insta snapshots
*.pending-snap
*.snap.new

# setup
/.helix
/.vscode
/programs/.vscode

**/tmp**
**/temp**.bin/
node_modules/
/.bin/
/.local-cache/
/.sass-cache/
/.test-results/
/test-results/
/playwright-report/

# misc
.DS_Store
*.pem

**/*.tsbuildinfo

.env
**/.env

**/*.rs.bk
/test-ledger

**/*.pem

# tests
/.playwright-state
/playwright-report
/test-ledger
/test-results

/verily.db*


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
